@import url("../styles.css");
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.input {
    transition-duration: .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, .2);
}

.input input {
    width: 50vw;
    height: 50px;
    font-size: 2.5vh;
    border: none;
    padding-left: 10px;
    font-family: 'Nanum Myeongjo', serif;
}

.input input:focus {
    outline: none;
}

.input button {
    width: 10vw;
    font-size: 2.5vh;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    height: 52px;
    font-size: 2.5vh;
}

.input button:focus {
    outline: none;
}

.input button:hover {
    cursor: pointer;
}

.input button:active {
    background-color: var(--secondary-color-hover);
}

.input_keyboard {
    bottom: 200px !important;
}

.keyboard_active {
    bottom: 0 !important;
}

.keyboard {
    transition-duration: .3s;
    width: 100vw;
    height: 200px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -200px;
    color: white;
    display: flex;
    flex-direction: column;
}

.row {
    width: 60%;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.keyboard h1 {
    font-size: 2em;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--secondary-color);
    height: 50px;
    width: fit-content;
    min-width: 2.5em;
    border-radius: 10px;
    color: white;
    text-align:center;
    line-height: 50px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.math_input {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, .1)
}

.type {
    top: 5em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 2em;
    color: rgba(0,0,0,.2);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-family: 'Merriweather', serif;
    z-index: -1;
}

.cards {
    transition-duration: .3s;
    display: flex;
    margin-top: 70px;
    height: calc(100vh - 70px - 10vh);
    width: 100vw;
    z-index: 1;
    overflow-x: auto;
}

.cards_keyboard {
    height: calc(100vh - 70px - 10vh - 200px);
}